
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- bootstrap  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

  <title>팀운보다 문제는 내손!: 캐리미</title>
  <style>
    #logo {
      width: 20%;
    }

    #header {
      background-color: #ff9e14;
    }

    .nav-link {
      margin-left: 70px;
      margin-right: 70px;
    }

    #carousel {
      margin-left: 150px;
      margin-top: 50px;
      width: 80%;
    }

    .game div ul {
      display: flex;
      justify-content: center;
    }

    .game div ul li {
      align-items: center;
    }

    .game div ul li img {
      width: 50%;
    }
    .footer{
      background-color:black;
      position:fixed; 
  left:0px; 
  bottom:0px; 
  height:60px; 
  width:100%; 
    }

    #comment{

      width: 100%;
      
        border-collapse: collapse;
    }
    #comment{
      width: 300px;
  
        padding: 10px;
        
    }
  </style>
</head>


<body>
  {% load static %}
  <div id="header">


    <br>
    <div style="margin-right: 100px; text-align: right;">
      {% if user.is_active == False%}
      <a style="color: aliceblue; font: bold;" href="{% url 'login' %}">로그인</a>
      {% endif %}
      {% if user.is_active == True %}
      <br>
      <a style="color: aliceblue; " href="">마이페이지</a>
      <a style="color: aliceblue;" href="{% url 'logout' %}">로그아웃</a>
      <p>{{nickname}}님 반갑습니다</p>
      {% endif %}
    </div>
    <br>
  </div>
  <div>
    {% load static %}
    <div style="margin-left: 150px;">
      <form class="form-inline ">
        <a href="{% url 'home' %}"><img style="width: 60%" id="logo" src="{% static 'images/carry_me_logo.png' %}" alt=""></a>
        <input style="width: 40%;" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div style="text-align: left;" class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a style="margin-left: 300px;" class="nav-link" href="#">About Us <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">강사 소개</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                강의
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              
                <a class="dropdown-item" href="#">배틀그라운드</a>
                <a class="dropdown-item" href="#">오버워치</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'QnA' %}">Q&A</a>
            </li>

          </ul>
        </div>
      </nav>
    </div>

<div style=" padding: 10px; "></div>

<div style =  " text-decoration-color: snow; text-align: center;"> 상세 페이지</div>
<br>
<div style="margin-left: 50px; ">
  <table   style=" margin-bottom: 10px;  " >
    <td >
      <tr >
        제목 : 
      </tr>
      <tr  >
       <a style=" font-size: 50px ;margin-left:10px ">
        {{question.title}}
      </a>
      </tr>
    </td>
  </table>
<hr  style="border: solid 3px" color = "#ff9e14" width="930px" align = "left" >
  <table>
    <td>
      <tr>
        내용 : 
      </tr>
      <tr>
        
        {{question.content}}
      </tr>
    </td>
  </table>

  <table>
    <tr>
      작성자 :
    </tr>
    <tr>

      {{ question.username }}
    </tr>
    
    
    <td>
      <tr>
        작성일 : 
      </tr>
      <tr>

        {{ question.created_at }}
      </tr>
      
    </td>
  </table>
  

<br>
<br>
</div>

  {% for i in answer %}
  <table id = "comments"style = "margin-left: 60px;">
  <tr id = "comment">

                  <td>{{i.username}} : </td>
                 
                  <td>{{i.content}}</td>
              </tr>
  </table style = "margin-left: 60px;">

    
  {% endfor %}

<div style="height: 30px;"></div>


<div style="margin-left: 55px;">
<form  action="{% url 'createAnswer' question.id  %}"   >{% csrf_token %}
       
  <div id = "a">댓글달기</div>
  <textarea cols = "100" rows = "2" name='content'></textarea>
  
  <input type="submit" value="저장">
  </form> 
</div>
<div style=" height : 150px ">


</div>

</body>
      
